@{
    ViewData["Title"] = "Songs";
}

<div class="text-center">
    <h1 class="display-4">Songs</h1>
    <nav>
        <ul class="songs">
            <li>
                <a asp-controller="Home" asp-action="Song1">Song 1</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Song2">Song 2</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Song3">Song 3</a>
            </li>
        </ul>
    </nav>
</div>
